@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary--color-:#bfd7ed;
    --secondary--color-:#0074b7;   
}
body{
    background-color: white;
}

.tool {
    display: flex;
    justify-content: space-between;
}


nav h1 {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-size:40px ;
    
  }
  

nav img {
    border-radius: 50%;
border: 2px solid blue;
height: 100px;
}

.spa {
    color: rgb(242, 159, 5);
}
.logo {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    gap: 10px;
}

.navig {
    display: flex;
    align-items: center;
}
.navig ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 35px;
    padding-right: 10px;
}
li:hover {
    color: #0074b7;
    transform: translateY(20px);
}





.sky{
    background-image: url('cloud.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
border-radius: 30px;
}


.bb{
    position: relative;
    animation: hot 10s infinite alternate-reverse;

}
.balloon1{
    animation-delay: 0s;
}
 
.balloon2{
animation-delay: 1s;
}
.balloon3{
    animation-delay: 2s;
}
@keyframes hot {
    0%{
        right: -80%;
        bottom: 0%;
    }
    100%{
        right: 0%;
        bottom: 0%;
    }
}


.bak {
    text-align: center;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #82afc9;
    color: whitesmoke;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 15px;
    font-family: "Nunito", sans-serif;
font-optical-sizing: auto;

}

.topic{
    gap: 10px;
    margin: 20px;
    font-family: "Nunito", sans-serif;
font-optical-sizing: auto;
}

.papa {
display: flex;
justify-content: space-evenly;
align-items: center;
margin: 30px;

}
.tu{
padding: 5px;
margin: 10px;
box-shadow: 3px 4px black;
background-size: contain;
border-radius: 10px;
}
.tu img:hover {
transform: translateX(-20px);   
}
.papaaa {
display: flex;
justify-content: space-evenly;
align-items: center;
}
.foot {
background-color: black;
color: white;
font-size: 15px;
text-align: center;
margin-top: 100px;

}

footer {
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 50px;
}

